<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <caption
        class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800"
      >
        Proveedores
        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
          En la siguiente tabla verá una lista de proveedores ordenada por la fecha de edición.
        </p>
      </caption>
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Razón Social</th>
          <th scope="col" class="px-6 py-3">Identificación tributaria</th>
          <th scope="col" class="px-6 py-3">Número telefónico</th>
          <th scope="col" class="px-6 py-3">Correo electrónico</th>
          <th scope="col" class="px-6 py-3">País</th>
          <th scope="col" class="px-6 py-3">Facturación anual ($)</th>
          <th scope="col" class="px-6 py-3"><span class="sr-only">Editar</span></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let supplier of suppliers"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ supplier.companyName }}
          </th>
          <td class="px-6 py-4">{{ supplier.tradeName }}</td>
          <td class="px-6 py-4">{{ supplier.telephoneNumber }}</td>
          <td class="px-6 py-4">{{ supplier.eMail }}</td>
          <td class="px-6 py-4">{{ supplier.country }}</td>
          <td class="px-6 py-4">{{ supplier.annualTurnover }}</td>
          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"

              >Editar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <app-footer></app-footer>
  